/****************************
      General elements
****************************/
h1 {
  text-align: center;
}

img {
  width:100%;
  height: 50%;
}

/****************************
      Table properties
****************************/

table {
  margin: 0 auto;
  padding: 15px;
}


table, td, th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.titles {
 background-color: black;
 color: white;
 font-weight: bold; 
 padding: 7px;
}

/****************************
    Input form elements
****************************/

form {
    display: inline-block;
}

#button{
    display: inline-block;
    height:20px;
  width:70px;
  background-color:#cc0000;
  font-family:arial;
  font-weight:bold;
  color:#ffffff;
  border-radius: 5px;
  text-align:center;
  margin-top:2px;
}

.list {
  font-family:garamond;
  color:#cc0000;
}