<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bowling Scorecard</title>
  
  <script type='text/javascript' src='../js/jquery.js'></script>
  <script type='text/javascript' src='../js/Game.js'></script>
  <script type='text/javascript' src='../js/script.js'></script>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../css/stylesheet.css">

</head>
<body>
  <div class="container">

    <div class="row" id="row2">
      <h1>Bowling Scorecard</h1>
      
      <table>
        <tr>
          <th class="titles">Frame</th>
          <th>One</th>
          <th>Two</th>
          <th>Three</th>
          <th>Four</th>
          <th>Five</th>
          <th>Six</th>
          <th>Seven</th>
          <th>Eight</th>
          <th>Nine</th>
          <th>Ten</th>
        </tr>
        <tr>
          <td class="titles">Score</td>
          <td>
            <input type="text" class="scores" id="score1" size="2">
            <input type="text" class="scores" id="score2" size="2">
          </td>
          <td>
            <input type="text" class="scores" id="score3" size="2">
            <input type="text" class="scores" id="score4" size="2">
          </td>
          <td>
            <input type="text" class="scores" id="score5" size="2">
            <input type="text" class="scores" id="score6" size="2">
          </td>
          <td>
            <input type="text" class="scores" id="score7" size="2">
            <input type="text" class="scores" id="score8" size="2">
          </td>
          <td>
            <input type="text" class="scores" id="score9" size="2">
            <input type="text" class="scores" id="score10" size="2">
          </td>
          <td>
            <input type="text" class="scores" id="score11" size="2">
            <input type="text" class="scores" id="score12" size="2">
          </td>
          <td>
            <input type="text" class="scores" id="score13" size="2">
            <input type="text" class="scores" id="score14" size="2">
          </td>
          <td>
            <input type="text" class="scores" id="score15" size="2">
            <input type="text" class="scores" id="score16" size="2">
          </td>
          <td>
            <input type="text" class="scores" id="score17"  size="2">
            <input type="text" class="scores" id="score18"  size="2">
          </td>
          <td>
            <input type="text" class="scores" id="score19" size="2">
            <input type="text" class="scores" id="score20"  size="2">
          </td>
        </tr>
        <tr>
          <td class="titles">Total</td>
          <td id="frame-total1"> </td>
          <td id="frame-total2"> </td>
          <td id="frame-total3"> </td>
          <td id="frame-total4"> </td>
          <td id="frame-total5"> </td>
          <td id="frame-total6"> </td>
          <td id="frame-total7"> </td>
          <td id="frame-total8"> </td>
          <td id="frame-total9"> </td>
          <td id="frame-total10"> </td>
      </tr>
     </table>
     
    Frame: <span id="frame-nr">1</span> Rolls left: <span id="roll-nr">2</span><br>
    
    <!-- Input box for adding pins knocked down/round -->
    <form name="checkListForm">
      <input type="text" name="checkListItem" size="3"/>
    </form>
    <div id="button">Add!</div>
      
    <div class="list"></div>
    <!-- input box ends here -->

    </div>

    <div class="row" id="row2">
      <img src="../images/bowling.jpg" >
    </div>

  </div>
</body>
</html>