<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bowling Scorecard</title>
  
  <script type='text/javascript' src='../js/jquery.js'></script>
  <script type='text/javascript' src='../js/Game.js'></script>
  <script type='text/javascript' src='../js/script.js'></script>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../css/stylesheet.css">

</head>
<body>
  <div class="container">

    <div class="row" id="row2">
      <h1>Bowling Scorecard</h1>
      
      <table>
        <tr>
          <th class="titles">Frame</th>
          <th>One</th>
          <th>Two</th>
          <th>Three</th>
          <th>Four</th>
          <th>Five</th>
        </tr>
        <tr>
          <td class="titles">Score</td>
          <td>
            <input type="text" name="score1" value="0" size="2">
            <input type="text" name="score1" value="0" size="2">
          </td>
          <td>
            <input type="text" name="score1" value="0" size="2">
            <input type="text" name="score1" value="0" size="2">
          </td>
          <td>
            <input type="text" name="score1" value="0" size="2">
            <input type="text" name="score1" value="0" size="2">
          </td>
          <td>
            <input type="text" name="score1" value="0" size="2">
            <input type="text" name="score1" value="0" size="2">
          </td>
          <td>
            <input type="text" name="score1" value="0" size="2">
            <input type="text" name="score1" value="0" size="2">
          </td>
        </tr>
        <tr>
          <td class="titles">Total</td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
      </tr>
     </table>
      <br><br><br>

    </div>

    <div class="row" id="row2">
      <img src="../images/bowling.jpg" >
    </div>

  </div>
</body>
</html>